@import '../styling/colors.scss';

.headerWithIcon {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  img {
    height: 4rem;

    &:hover {
      transform: translateY(-0.2rem);
    }
  }

  h1 {
    margin-left: 2rem;
  }
}
