$color-primary: #ff7260;
$color-primary-grey-dark: #855049;
$color-primary-medium: #ff4b33;
$color-primary-light: #ff9d90;
$color-primary-super-light: #fcc7c0;

$color-secondary: #40484f;
$color-secondary-grey-dark: #343535;
$color-secondary-medium: #5a5d5f;
$color-secondary-light: #8d9194;
$color-secondary-very-light: #d4dce2;

$color-tertiary: #b6ecfd;
$color-tertiary-grey-dark: #3c5057;
$color-tertiary-medium: #5dd9ff;
$color-tertiary-light: #e7f9ff;

$color-text: #40494f;
$color-text-white: #ffffff;

$gradient-primary: #f5f5f5;
$gradient-secondary: black;

$color-form-input-invalid: #911414;
$color-form-input-valid: #0ab30a;
