$color-primary: #4c9484;
$color-primary-grey-dark: #414947;
$color-primary-medium: #70b1a1;
$color-primary-light: #92d6c7;

$color-secondary: whitesmoke;

$color-tertiary: #2c2b2b;
$color-tertiary-grey-dark: #353434;
$color-tertiary-medium: #5f5a5a;
$color-tertiary-light: #948d8d;

$color-text: whitesmoke;

$gradient-primary: whitesmoke;
$gradient-secondary: black;

$color-form-input-invalid: rgb(121, 63, 63);
$color-form-input-valid: rgb(97, 122, 97);
