@import '../styling/colors.scss';

.container {
  display: inline-block;
  position: absolute;
  top: 4.2rem;
  right: 26rem;
  @media only screen and (max-width: 760px) {
    top: 2.1rem;
    right: 22rem;
  }
}

.socialIcon {
  padding: 1rem;
  svg {
    height: 2.5rem;

    &:hover {
      fill: $color-primary-light;
    }
  }

  &Dark {
    @extend .socialIcon;

    svg {
      fill: $color-secondary;

      &:hover {
        fill: $color-primary;
      }
    }
  }
}
