@import '../styling/colors.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  height: auto;
  width: 100%;
  z-index: 1;
}

.homeLink {
  display: inline-block;
  text-decoration: none; /* no underline */
  position: absolute;
  top: 2rem;
  left: 2.5rem;
  transition: all 1s;

  img {
    height: 14rem;

    &:hover {
      transform: translateY(-0rem);
    }

    @media only screen and (max-width: 760px) {
      height: 10rem;
    }
  }

  @media only screen and (max-width: 760px) {
    top: 1rem;
    left: 1.5rem;
  }
}
